.DS_Store

#CMAKE Files
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
lib/

#QMAKE Files
scheduler.app
scheduler.app/
scheduler.pro.user
.qmake.stash
main.o
mainwindow.o
moc_mainwindow.cpp
moc_mainwindow.o
moc_predefs.h
number.o
ui_mainwindow.h

#QMAKE .o Files
Classification.o
Description.o
DueDate.o
Duration.o
Priority.o
Title.o
UID.o
TaskList.o

#Executables
unit_tests
test
main

#VS CODE
.vscode

#MISC
bin/